.templateSelect .ant-select-selector {
  border-radius: 8px !important;
}
.templateSelect .ant-select-selection-search input {
  display: flex !important;
}
/* HISTORY TABLE  */
/*  */
/*  */
/*  */
/* TABLE DARK MODE */
/*  */
/*  */
/*  */
.emailTableDark .ant-table {
  border-radius: 8px !important;
  overflow: hidden;
  backdrop-filter: blur(40px);
  background-color: #ffffff11;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.emailTableLight .ant-table {
  border-radius: 10px !important;
  overflow: hidden;
  backdrop-filter: blur(40px);
  background-color: #ffffff11;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.emailTableDark .ant-table-body::-webkit-scrollbar {
  height: 5px !important;
  background-color: #1f2937 !important;
}
.emailTableDark .ant-table-body::-webkit-scrollbar-corner {
  background-color: #1f2937 !important;
  border: 1px solid #1f2937;
}
.emailTableDark .ant-table-body::-webkit-scrollbar-track {
  background-color: #1f2937;
}
.emailTableDark .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #7037ff !important;
}
.emailTableDark .ant-table-tbody .ant-table-cell,
.emailTableDark .ant-table-tbody .ant-table-cell h4 {
  color: #cbd5e1;
  margin: 0;
  text-align: center;
}
/* .emailTableDark .ant-table-container::after{
  background-color: #1b0538;
} */
.emailTableDark th {
  padding: 18px 18px 18px 0;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #cbd5e1 !important;
  border-bottom: 1px solid #c0c0c02f !important;
  background: #ffffff3f !important;
}

.emailTableDark .ant-table-tbody tr td {
  padding: 8px;
}
.emailTableDark .ant-table-tbody tr td {
  border-bottom: 1px solid #c0c0c02f !important;
  border-right: 1px solid #c0c0c02f !important;
}
.emailTableDark .ant-table-thead tr th {
  border-right: 1px solid #c0c0c02f !important;
  text-align: center;
  font-weight: 600;
  backdrop-filter: blur(8px);
  /* background-color: #ffffffaf; */
}
.emailTableDark .ant-table-tbody .ant-table-cell-fix-left-last:first-child {
  backdrop-filter: blur(8px);
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #cbd5e1;
}
.emailTableDark .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailTableDark .ant-pagination li {
  border: 0px;
  background-color: #0000007f;
  border-radius: 8px;
}
.emailTableDark .ant-pagination li a {
  color: #cbd5e1;
  border: none;
}
.emailTableDark .ant-pagination .ant-pagination-item-active {
  border: 1px solid #cbd5e1;
}
.emailTableDark .ant-pagination .ant-pagination-item-ellipsis {
  color: #cbd5e1;
}
.emailTableDark .ant-pagination .ant-pagination-disabled,
.emailTableDark .ant-pagination .ant-pagination-prev,
.emailTableDark .ant-pagination .ant-pagination-next {
  overflow: hidden;
}
.emailTableDark .ant-pagination .ant-pagination-prev > button,
.emailTableDark .ant-pagination .ant-pagination-next > button {
  background-color: #0000007f;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
}
.emailTableDark .ant-pagination .ant-pagination-disabled > button {
  /* background-color: #cbd5e1; */
  color: #1f293797;
}
.emailTableDark .ant-pagination .ant-pagination-disabled > button:hover,
.emailTableDark .ant-pagination .ant-pagination-prev > button:hover,
.emailTableDark .ant-pagination .ant-pagination-next > button:hover {
  border: 1px solid #cbd5e1;
  color: #cbd5e1;
}
.emailTableDark .ant-pagination .ant-pagination-item-link-icon {
  color: #cbd5e1;
}
.emailTableDark .ant-pagination .ant-pagination-item-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailTableDark .ant-pagination .ant-pagination-options .ant-select-selector {
  border-radius: 8px;
}
.emailTableDark .ant-pagination .ant-pagination-options {
  border-radius: 8px;
  border: 0px;
}
.emailTableDark
  .ant-pagination
  .ant-pagination-options
  .ant-select-selector:hover {
  border: 0px solid #1f2937;
}

/* | */
/* | */
/* | */
/* LIGHT MODE */
/* | */
/* | */
/* | */

.emailTableLight .ant-table-thead th {
  backdrop-filter: blur(40px);
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.emailTableLight .ant-table-body::-webkit-scrollbar {
  height: 8px !important;
}
.emailTableLight .ant-table-body::-webkit-scrollbar-corner {
  background-color: #cbd5e1;
}
.emailTableLight .ant-table-body::-webkit-scrollbar-track {
  background-color: #cbd5e1;
}
.emailTableLight .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #1f2937;
}
.emailTableLight .ant-table-tbody .ant-table-cell,
.emailTableLight .ant-table-tbody .ant-table-cell h4 {
  color: #1f2937;
  margin: 0;
  text-align: center;
}
.emailTableLight th {
  padding: 18px 18px 18px 0;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #1f2937 !important;
  /* background: linear-gradient( #946bfc,#351a77,#1f0f47)  !important;  */
  /* background: linear-gradient( #7a51e3,#6e48cb,#55389f)  !important; 
   */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  border-bottom: 1px solid #1f293729 !important;
  border-top: 1px solid #1f293729 !important;
}
.emailTableLight .ant-table-tbody tr td {
  padding: 8px;
}
.emailTableLight .ant-table-tbody tr td {
  border-bottom: 1px solid #1f293729 !important;
  border-right: 1px solid #1f293729 !important;
}
.emailTableLight .ant-table-thead tr th {
  border-right: 1px solid #1f293729 !important;
  text-align: center;
  font-weight: 600;
  backdrop-filter: blur(8px);
  background-color: #ffffff7f;
}
.emailTableLight thead .ant-table-cell-fix-left-last:first-child {
  background-color: #7037ff !important;
  color: #cbd5e1 !important;
}
.emailTableDark thead .ant-table-cell-fix-left-last:first-child {
  background-color: #7037ff !important;
  color: #cbd5e1 !important;
}
.emailTableLight .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailTableLight .ant-pagination li {
  border: 0.5px solid #1f2937;
  background-color: transparent;
  border-radius: 8px;
}
.emailTableLight .ant-pagination li a {
  color: #1f2937;
}
.emailTableLight .ant-pagination .ant-pagination-item-active {
  background-color: #ffffff;
}
.emailTableLight .ant-pagination .ant-pagination-item-active a {
  color: #1f2937;
}
.emailTableLight .ant-pagination .ant-pagination-item-ellipsis {
  color: #1f2937;
}
.emailTableLight .ant-pagination .ant-pagination-disabled,
.emailTableLight .ant-pagination .ant-pagination-prev,
.emailTableLight .ant-pagination .ant-pagination-next {
  overflow: hidden;
  color: #ffffff7f;
}
.emailTableLight .ant-pagination .ant-pagination-prev > button,
.emailTableLight .ant-pagination .ant-pagination-next > button {
  background-color: #ffffff7f;
  border: 0px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f2937;
}
.emailTableLight .ant-pagination .ant-pagination-disabled > button {
  background-color: #cbd5e1;
  color: #1f293797;
}
.emailTableLight .ant-pagination .ant-pagination-disabled > button:hover,
.emailTableLight .ant-pagination .ant-pagination-prev > button:hover,
.emailTableLight .ant-pagination .ant-pagination-next > button:hover {
  border-radius: 8px;
  color: #1f2937;
}
.emailTableLight .ant-pagination .ant-pagination-item-link-icon {
  color: #1f2937;
}
.emailTableLight .ant-pagination .ant-pagination-item-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailTableLight .ant-pagination .ant-pagination-options .ant-select-selector {
  border: 0px solid #1f2937;
  border-radius: 8px;
}
.emailTableLight .ant-pagination .ant-pagination-options {
  border: 0px solid #1f2937;
}
.emailTableLight
  .ant-pagination
  .ant-pagination-options
  .ant-select-selector:hover {
  border: 0px;
}

.emailTableLight .ant-table-tbody .ant-table-cell-fix-left-last:first-child {
  backdrop-filter: blur(8px);
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #cbd5e1;
}

/*  */
/*  */
label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}
.labelDark {
  cursor: pointer;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  background: transparent;
  /* display: inline-block; */
  color: #cbd5e1;
  transition: 0.1s linear all;
}
.labelLight {
  cursor: pointer;
  border: 1px solid #1f2937;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  background: transparent;
  /* display: inline-block; */
  color: #1f2937;
  transition: 0.1s linear all;
}

/* SVG */
#tick {
  stroke: #7037ff;
  stroke-width: 6;
  transition: all 1s;
}

#circle {
  stroke: #7037ff;
  stroke-width: 6;
  transform-origin: 50px 50px 0;
  transition: all 1s;
}

.progress #tick {
  opacity: 0;
}

.ready #tick {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 8s ease-out forwards;
}

.progress #circle {
  stroke: #4c4c4c;
  stroke-dasharray: 314;
  stroke-dashoffset: 1000;
  animation: spin 3s linear infinite;
}

.ready #circle {
  stroke-dashoffset: 66;
  stroke: #63bc01;
}

#circle {
  stroke-dasharray: 500;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
    stroke-dashoffset: 66;
  } 
  50% {
    transform: rotate(540deg);
    stroke-dashoffset: 314;
  } 
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 66;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

#check {
  width: 300px;
  height: 300px;
}

/*  */
/*  */
/* Gallery Modal */
/*  */
/*  */
.emailModals{
  /* background-color: #1f2937; */
}
.emailModals .ant-modal-content{
  background-color: #ffffff;
  border-radius:8px;
}
.emailModals .ant-modal-content span{
  display: hidden !important;
}
.emailModals .ant-modal-content .ant-modal-footer .ant-btn-primary{
  background-color: #1f2937;
  border:0px solid #000000;
  border-radius: 8px;
}
.emailModals .ant-modal-content .ant-modal-footer .ant-btn-default{
  background-color: transparent;
  border:1px solid #1f2937;
  border-radius: 8px;
  color: #1f2937;
}