
.loginBackground {
  background-image: url("../../assets/BackgroundPhotos/Bg-Galaxy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
}

#password{
  background-color: transparent !important;
  border-radius: 10px;
  color:white;
}