.crm-menu {
  top: 50px !important;
  position: relative !important;
  /* border: 1px solid red !important; */
  width: 97% !important;
  background-color: white !important;
  border-radius: 20px !important;

  /* Add other styling properties as needed */
}

.crm-menu.crm-fixed {
  position: fixed !important;
  left: 1.5% !important;
  top: 0 !important;
  z-index: 100000 !important;
  margin: auto !important;

  /* Add other styling properties for the fixed position */
}
