.formBackground {
    background: url("../../../assets/BackgroundPhotos/darkBG.svg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
  }
  .animateDiv{
    animation: 1s linear fadeIn;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: opacity(0);
    }
    100% {
      opacity: 1;
      transform: opacity(1);
    }
  }