.font-poppins {
  font-family: "Poppins";
}

.active-option {
  width: 4px;
  color: #7037ff;
  background-color: #7037ff;
  border-radius: 2px 0px 0px 2px;
}

table {
  width: 100%;
  table-layout: fixed;
  font-family: "Poppins";
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 642px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 18px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  border-bottom: 1px solid #e6edff;
}

td {
  padding: 18px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  border-bottom: 1px solid #e6edff;
  text-align: left;
}

table.custom-table > tbody > tr:hover td {
  background-color: rgb(250, 250, 250) !important;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Calendar */
.calendar-wrapper {
  position: relative;
}

.fade {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.9) 100%
  );
}

.calendar-wrapper {
  width: 50%;
  overflow: auto;
  position: relative;
}

.calendar-fader-left {
  content: "";
  position: absolute;
  width: 20%;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #ffffff,
    rgba(255, 255, 255, 0.243) 200px
  );
}

.calendar-fader-right {
  content: "";
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to left,
    #ffffff,
    rgba(0, 128, 128, 0) 200px
  );
}

.slick-current {
  font-weight: 600;
  color: black;
}

.ant-picker-input > input {
  display: none;
}

.anticon-close-circle {
  display: none !important;
}
.custom-picker::after {
  /* display: none; */
  background: white !important;
  content: "" !important;
  color: white !important;
  cursor: pointer;
}

.ant-select-arrow {
  display: none;
}

.lead_status > .ant-select-selector {
  border-radius: 5px !important;
  /* padding: 6px; */
  height: 38px !important;
  margin: auto !important;
}

.lead_status .ant-select-selection-item {
  padding: 0 !important;
  margin: auto !important;
}


.sub_lead_status > .ant-select-selector {
  height: 40px !important;
  background-color: #000000 !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 0 6px !important;
  border-radius: 5px !important;
  margin-left: 5px !important;
}

.color-green > .ant-select-selector {
  background-color: #34c759 !important;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.color-orange > .ant-select-selector {
  background-color: #ff9500 !important;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.color-blue > .ant-select-selector {
  background-color: #4f8dea !important;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.color-teal > .ant-select-selector {
  background-color: #17cdd9 !important;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.color-violet > .ant-select-selector {
  background-color: #7037ff !important;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.color-red > .ant-select-selector {
  background-color: #ff0000 !important;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.sub_lead_status .ant-select-selection-item {
  padding: 0 !important;
  margin: auto !important;
}

/* ------------- Animations------------ */
@keyframes ping {
  75%,
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
.animate-custom-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
