.font-poppins {
  font-family: "Poppins";
}

.active-option {
  width: 4px;
  color: #7037ff;
  background-color: #7037ff;
  border-radius: 2px 0px 0px 2px;
}

table {
  width: 100%;
  table-layout: fixed;
  font-family: "Poppins";
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 642px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 18px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  border-bottom: 1px solid #e6edff;
}

td {
  padding: 18px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  border-bottom: 1px solid #e6edff;
  text-align: left;
}

table.custom-table > tbody > tr:hover td {
  background-color: rgb(250, 250, 250) !important;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Calendar */
.calendar-wrapper {
  position: relative;
}

.fade {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.9) 100%
  );
}

.calendar-wrapper {
  width: 50%;
  overflow: auto;
  position: relative;
}

.calendar-fader-left {
  content: "";
  position: absolute;
  width: 20%;
  left: 0;
  /* right: 0; */
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #ffffff,
    rgba(255, 255, 255, 0.243) 200px
  );
  /* ,
    linear-gradient(to left, #ffffff, rgba(0, 128, 128, 0) 200px); */
}

.calendar-fader-right {
  content: "";
  position: absolute;
  width: 20%;
  /* left: 0; */
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to left,
    #ffffff,
    rgba(0, 128, 128, 0) 200px
  );
}

/* .calender-carousel >  */
.slick-current {
  font-weight: 600;
  color: black;
}
