.courseTableDark .ant-table,
.courseTableLight .ant-table {
  border-radius: 8px !important;
  overflow: hidden;
  backdrop-filter: blur(40px);
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
/* scrollbarDark */
.courseTableDark .ant-table-body::-webkit-scrollbar {
  height: 5px !important;
  background-color: #1f2937 !important;
}
.courseTableDark .ant-table-body::-webkit-scrollbar-corner {
  background-color: #1f2937 !important;
  border: 1px solid #1f2937;
}
.courseTableDark .ant-table-body::-webkit-scrollbar-track {
  background-color: #1f2937;
}
.courseTableDark .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #7037ff !important;
}

/* scrollbarLight */
.courseTableLight .ant-table-body::-webkit-scrollbar {
  height: 8px !important;
}
.courseTableLight .ant-table-body::-webkit-scrollbar-corner {
  background-color: #cbd5e1;
}
.courseTableLight .ant-table-body::-webkit-scrollbar-track {
  background-color: #cbd5e1;
}
.courseTableLight .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #1f2937;
}

.courseTableDark .ant-table-tbody .ant-table-cell,
.courseTableDark .ant-table-tbody .ant-table-cell h4 {
  color: #cbd5e1;
  margin: 0;
  text-align: center;
}

.courseTableLight .ant-table-tbody .ant-table-cell,
.courseTableLight .ant-table-tbody .ant-table-cell h4 {
  color: #1f2937;
  margin: 0;
  text-align: center;
}

.courseTableDark th {
  padding: 18px 18px 18px 0;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #cbd5e1 !important;
  border-bottom: 1px solid #c0c0c02f !important;
  background: #1f2937 !important;
}

.courseTableLight th {
  padding: 18px 18px 18px 0;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #1f2937 !important;
  border-bottom: 1px solid #1f293729 !important;
  background: #cbd5e1 !important;
}

.courseTableDark .ant-table-tbody tr td {
  padding-left: 16px;
  border-bottom: 1px solid #c0c0c02f !important;
  border-right: 1px solid #c0c0c02f !important;
  text-align: left !important;
}

.courseTableLight .ant-table-tbody tr td {
  padding-left: 16px;
  border-bottom: 1px solid #1f293729 !important;
  border-right: 1px solid #1f293729 !important;
  text-align: left !important;
}

.courseTableDark .ant-table-thead tr th,
.courseTableLight .ant-table-thead tr th {
  border-right: 1px solid #c0c0c02f !important;
  text-align: left;
  font-weight: 600;
  backdrop-filter: blur(8px);
}

.courseTableDark .ant-table-tbody .ant-table-cell-fix-left-last:first-child,
.courseTableLight .ant-table-tbody .ant-table-cell-fix-left-last:first-child {
  background-color: #1f2937 !important;
  color: #cbd5e1 !important;
}

.courseTableDark .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseTableDark .ant-pagination li {
  background-color: transparent;
  border-radius: 8px;
}
.courseTableDark .ant-pagination li a {
  color: #cbd5e1;
  border: none;
}
.courseTableDark .ant-pagination .ant-pagination-item-active {
  border: 1px solid #cbd5e1;
  background-color: #0000007f;
}
.courseTableDark .ant-pagination .ant-pagination-item-ellipsis {
  color: #cbd5e1;
}
.courseTableDark .ant-pagination .ant-pagination-disabled,
.courseTableDark .ant-pagination .ant-pagination-prev,
.courseTableDark .ant-pagination .ant-pagination-next {
  overflow: hidden;
}
.courseTableDark .ant-pagination .ant-pagination-prev > button,
.courseTableDark .ant-pagination .ant-pagination-next > button {
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
}
.courseTableDark .ant-pagination .ant-pagination-disabled > button {
  /* background-color: #cbd5e1; */
  color: #1f293797;
}
.courseTableDark .ant-pagination .ant-pagination-disabled > button:hover,
.courseTableDark .ant-pagination .ant-pagination-prev > button:hover,
.courseTableDark .ant-pagination .ant-pagination-next > button:hover {
  border: 1px solid #cbd5e1;
  color: #cbd5e1;
}
.courseTableDark .ant-pagination .ant-pagination-item-link-icon {
  color: #cbd5e1;
}
.courseTableDark .ant-pagination .ant-pagination-item-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseTableDark .ant-pagination .ant-pagination-options .ant-select-selector {
  border-radius: 8px;
}
.courseTableDark .ant-pagination .ant-pagination-options {
  border-radius: 8px;
  border: 0px;
}
.courseTableDark
  .ant-pagination
  .ant-pagination-options
  .ant-select-selector:hover {
  border: 0px solid #1f2937;
}

/* | */
/* | */
/* | */
/* LIGHT MODE */
/* | */
/* | */
/* | */

.courseTableLight .ant-table-thead th {
  backdrop-filter: blur(40px);
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.courseTableLight thead .ant-table-cell-fix-left-last:first-child {
  background-color: #7037ff !important;
  color: #cbd5e1 !important;
}
.courseTableDark thead .ant-table-cell-fix-left-last:first-child {
  background-color: #7037ff !important;
  color: #cbd5e1 !important;
}
.courseTableLight .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseTableLight .ant-pagination li {
  border: 0.5px solid #1f2937;
  background-color: transparent;
  border-radius: 8px;
}
.courseTableLight .ant-pagination li a {
  color: #1f2937;
}
.courseTableLight .ant-pagination .ant-pagination-item-active {
  background-color: #ffffff;
}
.courseTableLight .ant-pagination .ant-pagination-item-active a {
  color: #1f2937;
}
.courseTableLight .ant-pagination .ant-pagination-item-ellipsis {
  color: #1f2937;
}
.courseTableLight .ant-pagination .ant-pagination-disabled,
.courseTableLight .ant-pagination .ant-pagination-prev,
.courseTableLight .ant-pagination .ant-pagination-next {
  overflow: hidden;
  color: #ffffff7f;
}
.courseTableLight .ant-pagination .ant-pagination-prev > button,
.courseTableLight .ant-pagination .ant-pagination-next > button {
  background-color: #ffffff7f;
  border: 0px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f2937;
}
.courseTableLight .ant-pagination .ant-pagination-disabled > button {
  background-color: #cbd5e1;
  color: #1f293797;
}
.courseTableLight .ant-pagination .ant-pagination-disabled > button:hover,
.courseTableLight .ant-pagination .ant-pagination-prev > button:hover,
.courseTableLight .ant-pagination .ant-pagination-next > button:hover {
  border-radius: 8px;
  color: #1f2937;
}
.courseTableLight .ant-pagination .ant-pagination-item-link-icon {
  color: #1f2937;
}
.courseTableLight .ant-pagination .ant-pagination-item-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseTableLight .ant-pagination .ant-pagination-options .ant-select-selector {
  border: 0px solid #1f2937;
  border-radius: 8px;
}
.courseTableLight .ant-pagination .ant-pagination-options {
  border: 0px solid #1f2937;
}
.courseTableLight
  .ant-pagination
  .ant-pagination-options
  .ant-select-selector:hover {
  border: 0px;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #00000022;
}

.courseModal input {
  color: #cbd5e1;
}
.courseModal input:hover {
  color: #cbd5e1;
  border: 0.5px solid #7037ff;
}
.courseModal input:focus {
  outline: none;
  border: 0.5px solid #7037ff;
  color: #cbd5e1;
}
.courseModal .ant-modal-content {
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #cbd5e1;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.courseModal .ant-modal-content button {
  color: #cbd5e1;
  border: none;
  border-radius: 8px;
}
.courseModal .ant-modal-footer button:nth-child(1) {
  background-color: #cbd5e1;
  color: #1f2937;
  border: none;
  border-radius: 8px;
}
.courseModal .ant-modal-footer button:nth-child(1):hover {
  color: #7037ff;
  border: none;
  border-radius: 8px;
}
.courseModal .ant-modal-footer button:nth-child(2) {
  background-color: #7037ff;
  border: none;
  border-radius: 8px;
}
.courseModal .ant-modal-footer button:nth-child(2):hover {
  color: #1f2937;
  border: none;
  border-radius: 8px;
}
/* .courseModal */
