.register-left-background {
  background-image: url("../../../assets/BackgroundPhotos/darkBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.register-right-background {
  /* background-image: url("../../../assets/BackgroundPhotos/lightBG.svg"); */
  background: linear-gradient(45deg, #e786ce, #bad7e5, #88c9e6);
  background-repeat: no-repeat;
  background-size: cover;
}
.inputBGRegister input,
.inputBG input:active {
  background-color: transparent !important;
  color: #1f2937 !important;
}
.inputBGRegister input::placeholder,
input::placeholder {
  color: #1f29377f !important;
}
.inputBG .ant-input {
  background-color: transparent !important;
}
