.pointer:where(.astro-W2BEH2IL) {
  margin-right: 8px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 #fff;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.pointer:where(.astro-W2BEH2IL) span:where(.astro-W2BEH2IL) {
  color: #fff;
  text-align: center;
  display: block;
  width: 31px;
  padding: 5px 0;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(255 255 255 / 70%);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
  }
  to {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: #ffffffb3 0 0;
  }
  70% {
    transform: scale(1);
    box-shadow: #fff0 0 0 0 7px;
  }
  to {
    transform: scale(0.95);
    box-shadow: #fff0 0 0;
  }
}
li:where(.astro-R5CNXI4O) {
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}
div:where(.astro-R5CNXI4O) > p:where(.astro-R5CNXI4O) {
  display: flex;
  margin: 5px 0;
}
small:where(.astro-R5CNXI4O) {
  margin-left: 32px;
}
.icon:where(.astro-R5CNXI4O) {
  margin: 0 10px;
}
.resources:where(.astro-R5CNXI4O) {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 0;
}
.resources:where(.astro-R5CNXI4O) > h3:where(.astro-R5CNXI4O) {
  margin: 0;
  padding: 0;
}
.resources:where(.astro-R5CNXI4O) > div:where(.astro-R5CNXI4O) {
  margin: 0;
  padding: 0;
  width: 200px;
}
.resources:where(.astro-R5CNXI4O)
  > div:where(.astro-R5CNXI4O)
  > h3:where(.astro-R5CNXI4O) {
  margin: 0;
  padding: 0;
}
.resources:where(.astro-R5CNXI4O)
  > div:where(.astro-R5CNXI4O)
  > p:where(.astro-R5CNXI4O)
  > small:where(.astro-R5CNXI4O) {
  padding: 0;
  margin: 0;
}
.roadmap:where(.astro-R5CNXI4O) > h3:where(.astro-R5CNXI4O) {
  color: #08a0f7;
}
.blog:where(.astro-R5CNXI4O) > h3:where(.astro-R5CNXI4O) {
  color: #9840dd;
}
.videos:where(.astro-R5CNXI4O) > h3:where(.astro-R5CNXI4O) {
  color: #2eb67d;
}
.developers-guidelines:where(.astro-R5CNXI4O) > h3:where(.astro-R5CNXI4O) {
  color: #ffa800;
}
.roadmap:where(.astro-R5CNXI4O):hover {
  background-color: #08a0f70d;
  cursor: pointer !important;
  border-radius: 5px;
}
.blog:where(.astro-R5CNXI4O):hover {
  background-color: #9840dd0d;
  cursor: pointer !important;
  border-radius: 5px;
}
.videos:where(.astro-R5CNXI4O):hover {
  background-color: #2eb67d0d;
  cursor: pointer !important;
  border-radius: 5px;
}
.developers-guidelines:where(.astro-R5CNXI4O):hover {
  background-color: #ffa8000d;
  cursor: pointer !important;
  border-radius: 5px;
}
:root {
  --color-secondary: #323030;
  font-family: Poppins, sans-serif;
}
._container_19q5r_1 {
  background-color: #303053;
}
._cookie_section_19q5r_5 {
  width: 100%;
  background: #fff;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  text-align: center;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}
._cookies_text_19q5r_20 {
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.5;
  color: #262626;
  margin-right: 10px;
}
._cookies_button_19q5r_28 {
  background: #08a0f7;
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 10px;
  color: #dee2e6;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: inherit;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
}
._link_text_19q5r_50 {
  color: #08a0f7;
}
@media only screen and (max-width: 768px) {
  ._cookie_section_19q5r_5 {
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }
  ._cookies_text_19q5r_20 {
    display: block;
    margin: 0;
    padding: 0;
  }
  ._button_section_19q5r_66 {
    display: flex;
    justify-content: center;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:after,
:before {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
body {
  margin: 0;
  line-height: inherit;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
small {
  font-size: 80%;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button {
  text-transform: none;
}
[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button {
  cursor: pointer;
}
img,
svg {
  display: block;
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}
*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.relative {
  position: relative;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.flex {
  display: flex;
}
.h-\[150px\] {
  height: 150px;
}
.w-full {
  width: 100%;
}
.w-56 {
  width: 14rem;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-y-12 {
  row-gap: 3rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.bg-cover {
  background-size: cover;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-start {
    align-items: flex-start;
  }
}
:root {
  --swiper-theme-color: #007aff;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
:root {
  --swiper-navigation-size: 44px;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translateZ(0);
  z-index: 10;
}
@-webkit-keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.gy-4 {
  --bs-gutter-y: 1.5rem;
}
.gy-5 {
  --bs-gutter-y: 3rem;
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.container {
  width: 100%;
}
@media (min-width: 1350px) {
  .container {
    max-width: 1400px !important;
  }
}
@media (max-width: 1364px) {
  .container {
    max-width: inherit !important;
    width: inherit;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .container {
    max-width: 1070px;
  }
}
@-webkit-keyframes playVideo {
  0% {
    box-shadow: 0 0 #ffffff4d;
  }
  40% {
    box-shadow: 0 0 0 20px #fff0;
  }
  80% {
    box-shadow: 0 0 0 20px #fff0;
  }
  to {
    box-shadow: 0 0 #fff0;
  }
}
@-webkit-keyframes dimond {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes movebounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveleftbounce {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(40px);
  }
  to {
    transform: translate(0);
  }
}
@-webkit-keyframes moverightbounce {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes guraguri {
  0% {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate3d {
  0% {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes move_wave {
  0% {
    transform: translate(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translate(-25%) translateZ(0) scaleY(0.55);
  }
  to {
    transform: translate(-50%) translateZ(0) scaleY(1);
  }
}
.header-wrapper {
  margin: 40px;
  margin-bottom: 0 !important;
  border: 1px solid rgba(82, 182, 255, 0.15);
  background-color: #fff;
  box-shadow: 0 0 7px 6px #52b6ff0d;
  border-radius: 25px;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (max-width: 1400px) {
  .header-wrapper {
    margin: 50px 10px;
  }
}
@media (max-width: 991px) {
  .header-wrapper {
    margin: 10px;
  }
}
.header-wrapper .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px;
}
@media (max-width: 991px) {
  .header-wrapper .navbar-wrapper {
    padding: 20px 10px;
  }
}
.header-wrapper .navbar-items {
  display: flex;
  height: 100%;
}
@media (max-width: 991px) {
  .header-wrapper .navbar-items {
    display: none;
  }
}
.header-wrapper .navbar-items li {
  list-style: none;
  padding: 15px 0;
}
.header-wrapper .navbar-items li:not(:last-child) {
  margin-right: 30px;
}
.header-wrapper .navbar-items a {
  font-size: 16px;
  color: #303053;
}
.header-wrapper .navbar-buttons {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header-wrapper .navbar-buttons {
    display: none;
  }
}
.header-wrapper .navbar-buttons .button {
  cursor: pointer;
  border: none;
}
.header-wrapper .navbar-buttons .button:not(:last-child) {
  margin-right: 15px;
}
.header-wrapper .dropdown-wrapper {
  position: relative;
  height: 100%;
}
.header-wrapper .dropdown-wrapper .icon {
  display: inline-block;
  margin-left: 5px;
  transform: translateY(2px);
  cursor: pointer;
}
.header-wrapper .dropdown-wrapper:hover .dropdown {
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
}
.header-wrapper .dropdown-wrapper:hover .dropdown .icon {
  margin: 0 10px;
  font-size: 16px;
}
.header-wrapper .dropdown-wrapper .dropdown {
  min-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 7px 6px #52b6ff0d;
  border: 1px solid rgba(82, 182, 255, 0.15);
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid #52b6ff;
  position: absolute;
  transform: translate(-50%) translateY(0);
  transition: transform 0.25s ease-out, opacity 0.15s ease-out 0.1s;
  z-index: 9999;
}
.mobile-app-wrapper {
  padding-top: 0 !important;
  background-image: url(../../images/lossless/mobile-app-bg_1.webp);
}
.mobile-app-wrapper .heading-primary {
  margin-bottom: 0;
}
.mobile-app-wrapper .heading-primary span {
  color: #2eb67d;
}
.mobile-app-wrapper .app-content {
  margin-top: 110px;
}
@media (max-width: 991px) {
  .mobile-app-wrapper .app-content {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .mobile-app-wrapper .app-content {
    margin-top: 25px;
  }
}
.mobile-app-wrapper .app-content .body-text {
  margin-bottom: 10px;
}
.mobile-app-wrapper .app-content h3 {
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  color: #08a0f7;
  margin-bottom: 40px;
  word-wrap: none;
}
@media (max-width: 575px) {
  .mobile-app-wrapper .app-content h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.book-demo-wrapper {
  background-image: url(../../images/lossless/book-bg_1.webp);
}
.book-demo-wrapper .book-demo-content div {
  font-size: 24px;
  font-weight: 600;
  color: #303053;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .book-demo-wrapper .book-demo-content div {
    font-size: 18px;
    line-height: 24px;
  }
}
.book-demo-wrapper .book-demo-content span {
  font-weight: 600;
  color: #08a0f7;
}
.book-demo-wrapper .book-demo-content .body-text {
  margin: 30px 0;
}
@media (max-width: 575px) {
  .book-demo-wrapper .book-demo-content .body-text {
    margin: 20px 0;
  }
}
.book-demo-wrapper .book-demo-content .button-primary {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.clients-wrapper .heading-primary {
  color: #ffa800;
  font-weight: 600;
}
.clients-wrapper .client-brands:not(:last-child) {
  margin-bottom: 100px;
}
.clients-wrapper .client-brands .logo {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-wrapper {
  position: relative;
  padding-top: 0;
}
.features-wrapper h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #303053;
  margin-bottom: 20px;
  margin-top: 20px;
}
.features-wrapper .features-items li {
  font-size: 18px;
  line-height: 24px;
  color: #303053;
}
.features-wrapper .illustraton {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: -1;
}
.features-wrapper .features-content {
  height: 100%;
  position: relative;
}
.pricing-wrapper .heading-primary {
  color: #08a0f7;
  margin-bottom: 10px;
}
.pricing-wrapper .body-text {
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .pricing-wrapper .body-text {
    margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .pricing-wrapper .body-text {
    font-size: 16px;
    line-height: 21px;
  }
}
.pricing-wrapper .pricing-card {
  text-align: center;
  background: #fff;
  box-shadow: 0 0 7px #e4e4e4;
  border-radius: 10px;
  padding: 30px;
  min-height: 100%;
}
@media (max-width: 575px) {
  .pricing-wrapper .pricing-card {
    padding: 10px;
  }
}
.pricing-wrapper .pricing-card .icon {
  max-width: 45px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .pricing-wrapper .pricing-card .icon {
    max-width: 50%;
  }
}
.pricing-wrapper .pricing-card .price {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}
.pricing-wrapper .pricing-card.large {
  background: #fff;
  border: 1px solid #08a0f7;
  box-shadow: 0 0 7px #52b6ff;
}
.pricing-wrapper .pricing-card.large .icon {
  max-width: 100%;
}
@media (max-width: 575px) {
  .pricing-wrapper .pricing-card.large .icon {
    max-width: 50%;
  }
}
.pricing-wrapper .pricing-card.large .price {
  font-size: 20px;
  margin-top: 25 px;
}
.pricing-wrapper .pricing-form {
  margin-left: 40px;
}
@media (max-width: 991px) {
  .pricing-wrapper .pricing-form {
    margin-left: 0;
  }
}
.pricing-wrapper .pricing-form h3 {
  font-size: 30px;
  line-height: 40px;
  color: #303053;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .pricing-wrapper .pricing-form h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.pricing-wrapper .pricing-form form input {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 7px #00000026;
  border-radius: 12px;
  padding: 20px;
  border: none;
}
.pricing-wrapper .pricing-form form .button {
  margin: 20px 0;
}
.pricing-wrapper .pricing-form .button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.testimonial-wrapper {
  padding-bottom: 160px !important;
}
.testimonial-wrapper .slider-wrapper {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 500px) {
  .testimonial-wrapper .slider-wrapper {
    width: 100%;
  }
}
.testimonial-wrapper .swiper-pagination {
  z-index: 0 !important;
}
.testimonial-wrapper .item-card {
  min-height: 230px;
  padding: 20px 30px 50px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #08a0f7;
  box-shadow: 0 0 7px #52b6ff;
  position: relative;
}
.testimonial-wrapper .item-card:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 500px) {
  .testimonial-wrapper .item-card:not(:last-child) {
    width: 100%;
  }
}
.testimonial-wrapper .item-card .icon {
  font-size: 40px;
  color: #52b6ff33;
}
.testimonial-wrapper .item-card .body-text {
  font-weight: 600;
}
.testimonial-wrapper .item-profile {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-left: 60px;
}
.testimonial-wrapper .item-profile .profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 25px;
}
.testimonial-wrapper .item-profile .name {
  font-size: 20px;
  font-weight: 500;
  color: #08a0f7;
  line-height: 27px;
}
.testimonial-wrapper .item-profile .designation {
  font-size: 16px;
  font-weight: 400;
  color: #303053;
}
.testimonial-wrapper .swiper-wrapper {
  padding-bottom: 2rem;
}
.testimonial-wrapper .swiper-pagination {
  bottom: -30px;
  height: 50px !important;
}
.mobile-menu-wrapper .sidebar-link {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.mobile-menu-wrapper .sidebar-link:hover {
  background: #08a0f7;
  color: #fff;
  cursor: pointer;
}
.mobile-menu-wrapper .sidebar-label {
  margin-left: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mobile-menu-wrapper .icon-open {
  background-color: transparent;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}
@media (max-width: 991px) {
  .mobile-menu-wrapper .icon-open {
    display: block;
  }
}
.mobile-menu-wrapper .icon-close {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #303053;
  position: absolute;
  top: 15px;
  left: 260px;
}
.mobile-menu-wrapper .sidebar-nav {
  background-color: #303053;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  box-shadow: 0 13px 35px -12px #23232326;
  top: 0;
  left: -100%;
  transition: 0.35s;
  z-index: 99999;
}
.mobile-menu-wrapper .submenu-wrapper {
  margin-top: 60px;
}
.footer-wrapper {
  background-color: #303053;
  padding-bottom: 0 !important;
}
.footer-wrapper .footer-links a {
  display: block;
}
.footer-wrapper .footer-links a:not(:last-child) {
  margin-bottom: 10px;
}
.footer-wrapper .social-icons {
  display: flex;
  margin-top: 20px;
}
.footer-wrapper .social-icons a {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
.footer-wrapper .social-icons a:not(:last-child) {
  margin-right: 15px;
}
.footer-wrapper .social-icons .icon {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrapper .social-icons .icon.facebook {
  color: #4267b2;
}
.footer-wrapper .social-icons .icon.twitter {
  color: #00acee;
}
.footer-wrapper .social-icons .icon.linkedin {
  color: #0072b1;
}
.footer-wrapper .footer-copyright {
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 575px) {
  .footer-wrapper .footer-copyright {
    margin-top: 25px;
  }
}
.footer-wrapper .footer-copyright p a {
  font-weight: 600;
}
.hero-wrapper {
  background-image: url(../../images/lossless/hero-bg_1.webp);
  padding-top: 300px;
  padding-bottom: 300px;
  margin-top: -220px;
}
@media (max-width: 575px) {
  .hero-wrapper {
    padding-top: 250px;
    padding-bottom: 100px;
  }
}
.hero-wrapper .hero-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 68px;
  color: #303053;
}
@media (max-width: 575px) {
  .hero-wrapper .hero-heading {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
  }
}
.hero-wrapper .hero-heading span {
  color: #08a0f7;
}
.hero-wrapper .body-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #303053;
  margin: 40px 0;
}
@media (max-width: 575px) {
  .hero-wrapper .body-text {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
  }
}
.hero-wrapper .hero-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.hero-wrapper .hero-form div {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}
.hero-wrapper .hero-form div .input {
  border: none;
  width: 65%;
  background-color: #fff;
  box-shadow: 0 0 7px #00000026;
  border-radius: 12px;
  padding: 20px;
}
@media (max-width: 640px) {
  .hero-wrapper .hero-form div .input {
    width: 100%;
    margin-bottom: 10px;
  }
}
.hero-wrapper .content-bottom {
  margin-top: 20px;
}
.hero-wrapper .content-bottom span {
  font-size: 18px;
  font-weight: 400;
  color: #666;
}
.hero-wrapper .content-bottom span a {
  color: #08a0f7;
  text-decoration: underline;
}
.hero-wrapper .content-bottom .bottom-buttons {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.hero-wrapper .content-bottom .bottom-buttons img {
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}
.section-padding {
  padding: 80px 0;
}
.body-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #303053;
}
.body-text.light {
  color: #fff;
}
@media (max-width: 575px) {
  .body-text {
    font-size: 16px;
    line-height: 24px;
  }
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.heading-primary {
  font-size: 50px;
  line-height: 68px;
  font-weight: 400;
  color: #303053;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .heading-primary {
    margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .heading-primary {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 34px;
  }
}
.heading-primary span {
  color: #08a0f7;
  font-weight: 600;
}
.button {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.button.button-primary {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  justify-content: center;
}
@media (max-width: 575px) {
  .button.button-primary {
    font-size: 16px;
    padding: 15px 30px;
  }
}
.button.button-inverted {
  background-color: transparent !important;
  color: #08a0f7;
  border: 1px solid #08a0f7 !important;
}
.button.button-primary {
  background-color: #08a0f7;
}
.button.button-primary .icon {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.button .icon {
  font-size: 20px;
  font-weight: 500;
  margin-top: 3px;
  margin-left: 5px;
}
@media (max-width: 575px) {
  .button .icon {
    font-size: 14px;
  }
}
input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
}
input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
}
astro-island {
  display: contents;
}
.css-orq8zk {
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.css-oqr85h {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.css-oqr85h::-webkit-scrollbar {
  display: none;
}
.css-12qnib {
  position: relative;
  display: inline-block;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  white-space: nowrap;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}
.css-12qnib::-webkit-scrollbar {
  display: none;
}
.css-k008qs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.css-1tnnsql {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  max-width: 360px;
  min-width: 90px;
  position: relative;
  min-height: 72px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 12px 16px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 9px;
  padding-bottom: 9px;
  color: rgba(0, 0, 0, 0.6);
}
.css-1tnnsql::-moz-focus-inner {
  border-style: none;
}
@media print {
  .css-1tnnsql {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
.css-1tnnsql > .MuiTab-iconWrapper {
  margin-bottom: 6px;
}
.css-1tnnsql.Mui-selected {
  color: #1976d2;
}
.css-ttwr4n {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: #1976d2;
}
.css-19kzrtu {
  padding: 24px;
}

@-webkit-keyframes brevo-conversations-chat-appear-from-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.97);
    transform: translateY(20px) scale(0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@keyframes brevo-conversations-chat-appear-from-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.97);
    transform: translateY(20px) scale(0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes brevo-conversations-chat-appear-from-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(0.97);
    transform: translateY(-20px) scale(0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@keyframes brevo-conversations-chat-appear-from-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(0.97);
    transform: translateY(-20px) scale(0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes brevo-conversations-chat-appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes brevo-conversations-chat-appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes brevo-conversations-round-button-appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes brevo-conversations-round-button-appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes brevo-conversations-tab-button-appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes brevo-conversations-tab-button-appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes brevo-conversations-transparent-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes brevo-conversations-transparent-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
html.brevo-conversations-mobile-widget-expanded,
body.brevo-conversations-mobile-widget-expanded {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
}
.brevo-conversations {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: auto;
  height: auto;
  min-height: 0;
  min-width: 0;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
@media print {
  .brevo-conversations {
    display: none;
  }
}
.brevo-conversations__iframe-wrapper,
.brevo-conversations__iframe {
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  background: transparent !important;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.brevo-conversations__iframe-wrapper {
  position: absolute;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden !important;
}
.brevo-conversations__iframe-wrapper,
.brevo-conversations--safari .brevo-conversations__iframe,
.brevo-conversations--webkit.brevo-conversations--expanded
  .brevo-conversations__iframe {
  border-radius: 12px;
}
.brevo-conversations--mobile-widget:not(.brevo-conversations--expanded),
.brevo-conversations--mobile-widget:not(.brevo-conversations--expanded) * {
  cursor: pointer;
}
.brevo-conversations--safari .brevo-conversations__iframe {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#000)
  );
  -webkit-mask-image: linear-gradient(#000, #000);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#000)
  );
  mask-image: linear-gradient(#000, #000);
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.brevo-conversations:not(.brevo-conversations--expanded)
  .brevo-conversations__iframe-wrapper {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.brevo-conversations:not(.brevo-conversations--expanded):hover
  .brevo-conversations__iframe-wrapper {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.4);
}
.brevo-conversations--visible {
  visibility: visible;
  opacity: 1;
}
.brevo-conversations--animating {
  -webkit-transition: 350ms cubic-bezier(0.25, 0.1, 0, 1);
  transition: 350ms cubic-bezier(0.25, 0.1, 0, 1);
  -webkit-transition-property: height, width, max-width, max-height, top, bottom,
    left, right, -webkit-transform;
  transition-property: height, width, max-width, max-height, top, bottom, left,
    right, -webkit-transform;
  transition-property: height, width, max-width, max-height, top, bottom, left,
    right, transform;
  transition-property: height, width, max-width, max-height, top, bottom, left,
    right, transform, -webkit-transform;
}
.brevo-conversations--style-round:not(.brevo-conversations--expanded)
  .brevo-conversations__iframe-wrapper,
.brevo-conversations--style-round.brevo-conversations--safari:not(
    .brevo-conversations--expanded
  )
  .brevo-conversations__iframe {
  border-radius: 50%;
}
.brevo-conversations--custom-button:not(.brevo-conversations--expanded) {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.brevo-conversations--fast-toggle.brevo-conversations--style-round:not(
    .brevo-conversations--expanded
  )
  .brevo-conversations__iframe-wrapper {
  -webkit-animation: brevo-conversations-round-button-appear 150ms ease-out 50ms
    both;
  animation: brevo-conversations-round-button-appear 150ms ease-out 50ms both;
}
.brevo-conversations--fast-toggle.brevo-conversations--style-tab:not(
    .brevo-conversations--expanded
  )
  .brevo-conversations__iframe-wrapper {
  -webkit-animation: brevo-conversations-tab-button-appear 150ms ease-out 50ms
    both;
  animation: brevo-conversations-tab-button-appear 150ms ease-out 50ms both;
}
.brevo-conversations--fast-toggle.brevo-conversations--expanded
  .brevo-conversations__iframe-wrapper {
  -webkit-animation: brevo-conversations-chat-appear 150ms ease-out 50ms both;
  animation: brevo-conversations-chat-appear 150ms ease-out 50ms both;
}
.brevo-conversations--fast-toggle.brevo-conversations--transparent
  .brevo-conversations__iframe-wrapper {
  -webkit-animation-name: brevo-conversations-transparent-appear;
  animation-name: brevo-conversations-transparent-appear;
}
.brevo-conversations--fast-toggle.brevo-conversations--expanded:not(
    .brevo-conversations--mobile-widget
  ):not(.brevo-conversations--transparent)
  .brevo-conversations__iframe-wrapper {
  -webkit-animation-name: brevo-conversations-chat-appear-from-bottom;
  animation-name: brevo-conversations-chat-appear-from-bottom;
}
.brevo-conversations--fast-toggle.brevo-conversations--pos-top.brevo-conversations--expanded:not(
    .brevo-conversations--mobile-widget
  ):not(.brevo-conversations--transparent)
  .brevo-conversations__iframe-wrapper {
  -webkit-animation-name: brevo-conversations-chat-appear-from-top;
  animation-name: brevo-conversations-chat-appear-from-top;
}
.brevo-conversations--expanded .brevo-conversations__iframe-wrapper {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 5px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 5px 50px rgba(0, 0, 0, 0.2);
}
.brevo-conversations--side-bottom {
  bottom: 20px;
}
.brevo-conversations--side-left {
  left: 20px;
}
.brevo-conversations--side-left.brevo-conversations--style-tab:not(
    .brevo-conversations--expanded
  ) {
  left: 10px;
}
.brevo-conversations--side-right {
  right: 20px;
}
.brevo-conversations--side-right.brevo-conversations--style-tab:not(
    .brevo-conversations--expanded
  ) {
  right: 10px;
}
.brevo-conversations--side-left.brevo-conversations--expanded {
  bottom: 20px;
  left: 20px;
}
.brevo-conversations--side-right.brevo-conversations--expanded {
  bottom: 20px;
  right: 20px;
}
.brevo-conversations--pos-right {
  right: 20px;
}
.brevo-conversations--pos-left {
  left: 20px;
}
.brevo-conversations--pos-center {
  left: 50%;
}
.brevo-conversations--pos-top.brevo-conversations--style-tab:not(
    .brevo-conversations--expanded
  ) {
  bottom: 100%;
  margin-bottom: -20px;
}
.brevo-conversations--pos-top.brevo-conversations--style-round:not(
    .brevo-conversations--expanded
  ) {
  top: 20px;
}
.brevo-conversations--pos-bottom:not(.brevo-conversations--expanded) {
  bottom: 20px;
}
.brevo-conversations--pos-middle:not(.brevo-conversations--expanded) {
  bottom: 50%;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded:not(
    .brevo-conversations--transparent
  ) {
  max-width: none;
  max-height: none;
  top: 0 !important;
  bottom: 0 !important;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded
  .brevo-conversations__iframe-wrapper,
.brevo-conversations--safari.brevo-conversations--mobile-widget.brevo-conversations--expanded
  .brevo-conversations__iframe,
.brevo-conversations--webkit.brevo-conversations--mobile-widget.brevo-conversations--expanded
  .brevo-conversations__iframe {
  border-radius: 0.1px;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded.brevo-conversations--pos-right:not(
    .brevo-conversations--transparent
  ) {
  right: 0;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded.brevo-conversations--pos-left:not(
    .brevo-conversations--transparent
  ) {
  left: 0;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded.brevo-conversations--pos-center:not(
    .brevo-conversations--transparent
  ) {
  left: 0;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded.brevo-conversations--side-right:not(
    .brevo-conversations--transparent
  ) {
  right: 0;
}
.brevo-conversations--mobile-widget.brevo-conversations--expanded.brevo-conversations--side-left:not(
    .brevo-conversations--transparent
  ) {
  left: 0;
}
.brevo-conversations--transparent.brevo-conversations--expanded {
  bottom: 10px;
}
.brevo-conversations--transparent.brevo-conversations--expanded
  .brevo-conversations__iframe-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.brevo-conversations--side-left.brevo-conversations--transparent,
.brevo-conversations--pos-left.brevo-conversations--transparent {
  left: 10px;
}
.brevo-conversations--side-right.brevo-conversations--transparent,
.brevo-conversations--pos-right.brevo-conversations--transparent {
  right: 10px;
}
.brevo-conversations--mobile-widget.brevo-conversations--transparent {
  max-height: 300px;
}
.brevo-conversations--bg-white {
  background: #fff;
}

#cssscan-license-modal-content .button {
  border-radius: 50px;
  padding: 4px 20px;
  border: 0;
  outline: 0;
  font-size: 14px;
  width: initial;
  height: initial;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 0.15em 0.15em 0.2em !important;
  margin: 0;
  transition: 0.1s ease-in all;
  display: inline-block;
  vertical-align: middle;
  text-transform: initial;
  user-select: none;
  opacity: 1;
  position: initial;
  cursor: pointer;
  pointer-events: auto;
}

#cssscan-license-modal {
  text-align: left;
  position: fixed;
  z-index: 2147483647;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#cssscan-license-modal-content {
  box-sizing: border-box;
  background-color: rgba(30, 32, 44, 0.99);
  margin: 7% auto;
  padding: 4%;
  width: 60%;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
}

#cssscan-license-modal-content,
#cssscan-license-modal-content p,
#cssscan-license-modal-content h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#cssscan-license-modal-content p {
  margin-top: 10px;
  margin-bottom: 16px;
}

#cssscan-license-modal-content input {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  letter-spacing: 2px;
  display: block;
  font-size: 15px;
  line-height: 1.5;
  padding: 12px;
  width: 100%;
  max-width: 415px;
}

#cssscan-license-modal-content .button {
  padding: 0 25px;
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  background: #fff;
  color: #555;
  text-decoration: none;
  transition: 250ms ease-in-out;
  will-change: transform;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
  position: initial;
}

#cssscan-license-modal-content .button-principal {
  border: none;
  background: #2cbc63;
  color: #fff;
  box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.4);
  margin-left: 0;
  margin-top: 25px;
  font-weight: bold;
}

#cssscan-license-modal a {
  color: #4adc71;
  text-decoration: none;
}

a#cssscan-license-modal-contact {
  color: #ccc;
  font-size: 15px;
  margin-left: 30px;
  text-decoration: underline;
  vertical-align: bottom;
}

#cssscan-license-modal-content .button:hover {
  transform: translateY(-2px);
}

#cssscan-license-modal-content .button-principal:hover {
  box-shadow: 0 7px 34px 0 rgba(0, 0, 0, 0.7);
}

#cssscan-license-modal-content h1 {
  font-size: 1.7em;
  margin-top: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #fff;
  border: 0;
}

#cssscan-license-modal-close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#cssscan-license-modal-close:hover,
#cssscan-license-modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.cssscan-margin-right {
  margin-right: 8px;
}

#cssscan-license-modal-img {
  width: 96px;
  height: auto;
}
