.applicationFormModal .ant-modal-content {
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #cbd5e1;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.callFormModal .ant-modal-content {
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #cbd5e1;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
.callFormModal .ant-modal-content .ant-modal-footer .ant-btn-primary,
.mailModal .ant-modal-content .ant-modal-footer .ant-btn-primary {
  border-radius: 8px;
  background: linear-gradient(to bottom, #8a7cfd, #2596fb);
  border: none;
  cursor: pointer;
}
.callFormModal .ant-modal-content .ant-modal-footer .ant-btn-default,
.mailModal .ant-modal-content .ant-modal-footer .ant-btn-default {
  border-radius: 8px;
  background: #cbd5e1;
  border: none;
  cursor: pointer;
}
.callFormModal .ant-modal-content .ant-modal-footer .ant-btn-primary:hover,
.mailModal .ant-modal-content .ant-modal-footer .ant-btn-primary:hover {
  color: #1f2937;
}
.callFormModal .ant-modal-content .ant-modal-footer .ant-btn-default:hover,
.mailModal .ant-modal-content .ant-modal-footer .ant-btn-default :hover {
  color: #8a7cfd;
}
.callDatePicker span {
  color: #cbd5e1 !important;
}
.mailModal .ant-modal-content {
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #cbd5e1;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
